<!DOCTYPE html>
<html>
<head>
    <title>Metrics Plot</title>
    <!-- Include Plotly library -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <h1>Metrics Plot</h1>
    
    {% for model, metrics in data.items() %}
    <h2>{{ model }}</h2>
    
    <!-- Accuracy Plot for {{ model }} -->
    <div id="{{ model|replace(" ", "_") }}_accuracy-plot"></div>
    
    <!-- Precision Plot for {{ model }} -->
    <div id="{{ model|replace(" ", "_") }}_precision-plot"></div>
    
    <!-- Recall Plot for {{ model }} -->
    <div id="{{ model|replace(" ", "_") }}_recall-plot"></div>
    
    <!-- F1 Score Plot for {{ model }} -->
    <div id="{{ model|replace(" ", "_") }}_f1-score-plot"></div>
    
    <!-- R-squared Plot for {{ model }} -->
    <div id="{{ model|replace(" ", "_") }}_r-squared-plot"></div>
    
    <script>
        // Data for the plots
        var {{ model|replace(" ", "_") }}_data = {{ metrics | tojson | safe }};

        // Layout options for the plots
        var layout = {
            title: 'Model {{ model }} Comparison',
            xaxis: { title: 'Metrics' },
            yaxis: { title: 'Metric Value' },
        };

        // Create an array of trace objects for the plots
        var accuracyTrace = {
            x: Object.keys({{ model|replace(" ", "_") }}_data),
            y: Object.values({{ model|replace(" ", "_") }}_data),
            type: 'bar',
            name: 'Accuracy',
        };

        // Plot the data
        Plotly.newPlot('{{ model|replace(" ", "_") }}_accuracy-plot', [accuracyTrace], layout);
    </script>
    
    {% endfor %}
</body>
</html>
